aiofiles
aiohttp
aria2p
beautifulsoup4
coffeehouse>=2.1.0
cfscrape
cowpy
cryptg
deezloader
emoji
googletrans
google_images_download==2.8.0
google-api-python-client
google_auth_oauthlib
gsearch>=1.6.0
geopy
gtts
hachoir
lyricsgenius
pathlib
Pillow
psutil
psycopg2
pySmartDL
python-barcode
python-magic
pip>=19.3.1
pyfiglet
qrcode
regex
requests
PyGithub
speedtest-cli
selenium
sqlalchemy
telegraph
urbandict
wikipedia
youtube-dl
lxml
python-magic
oauth2client
httplib2==0.15.0
humanize
patool
remotezip
spotify_token
dnspython
fast.com
names
random_cli
pytuneteller
dadjokes-cli
jotquote
csvfaker
pytube3
gitpython
search-engine-parser>=0.4.2
wget
hurry.filesize
pymongo
covid
heroku3
justwatch
htmlement
pybase64
jikanpy
nekos.py
html_telegraph_poster
pendulum
spamwatch